# --------------------
# General for R Projects

.
..
.DS_Store
.Rproj.user
.Rhistory
.Rprofile
.Rapp.history
.RData
.Ruserdata

# --------------------
# General for the site

/.quarto/
/docs/
/_site/
/_includes/
/site_libs/

# --------------------
# Exclude file types and incompletely rendered page outputs

*_files
*.html
*.pptx

/_quarto_internal_scss_error.scss
**/*.quarto_ipynb

# --------------------
# Project-specific exclusions

**/Yale_typeface/
**/KEEP LOCAL/
/Images/

**/formatted_bash.tex
**/Code-Highlighting-Formatting_Verbatim-blx.bib
**/SOP-blx.bib
