/*-- scss:defaults --*/

// colors

$navbar-bg: #00356B;
$navbar-fg: #F0F0F0;
$light-header-background: #f5f5f5;

$link-color-banner: #63aaff;
$hover-color-banner: lighten($link-color-banner, 10%);

$link-color-footer: #52515e;
$hover-color-footer: lighten($navbar-bg, 10%);

$link-color: #bd5319;
$hover-color: darken($link-color, 10%);


:root {
  --light-header-background: #{$light-header-background};
  --link-color-banner: #{$link-color-banner};
  --hover-color-banner: #{$hover-color-banner};
  --link-color-footer: #{$link-color-footer};
  --hover-color-footer: #{$hover-color-footer};
  --link-color: #{$link-color};
  --hover-color: #{$hover-color};
}

// Tables

$table-color: $navbar-fg !default;
$table-accent-bg: rgba($navbar-fg, .05) !default;
$table-hover-bg: rgba($navbar-fg, .075) !default;
$table-border-color: body-mix(50%) !default;
$table-dark-bg: body-mix(16%) !default;
$table-dark-border-color: body-mix(23%) !default;

$table-bg-scale: 0 !default;


div.datatables {
  color: #333;
  font-size: 11pt;
}


/* Custom table for summarizing contents of datasets by program */

.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  text-align: left;
}
/* Header cells */
.custom-table th {
  font-size: 18px; /* Font size for header */
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

/* Body cells */
.custom-table td {
  font-size: 15px; /* Font size for rows */
  padding: 12px;
  border-bottom: 1px solid #ddd;
  vertical-align: top;
}
.custom-table tr:first-child th {
  border-top: 1px solid #ddd;
  border-bottom: 2px solid #000;
}
.custom-table tr:last-child th {
  border-bottom: 1px solid #ddd;
}
.custom-table ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.custom-table ul li {
  position: relative;
  padding-left: 1.2em;
  margin-bottom: 4px;
}
.custom-table ul li::before {
  content: '○';
  position: absolute;
  left: 0;
  top: 0.6em;
  transform: translateY(20%);
  font-size: 0.6em;
  line-height: 1em;
}
.custom-table th.iteration, .custom-table td.iteration {
  min-width: 130px;
}
.custom-table th.design, .custom-table td.design {
  min-width: 225px;
}
.custom-table th.var, .custom-table td.var {
  min-width: 225px;
}


/*-- header banner --*/

#title-block-header {
    margin-block-end: 0rem;
    position: relative;
    margin-top: -1px;
    margin-bottom: 0;
}
.quarto-title-banner h1, .quarto-title-banner .h1, .quarto-title-banner h2, .quarto-title-banner .h2 {
    color: #2e2e36;
    font-weight: normal;
    text-align: center;
}
.quarto-title-block .quarto-title-banner {
    color: #2e2e36;
    background: var(--light-header-background);
    border-bottom: 1px solid #ddd;
}

/*-- scss:rules --*/

.a{
  color: #00356B;
}
.quarto-title-block .quarto-title-banner {
  color: #2e2e36;
  background: var(--light-header-background);
}
.quarto-title-banner h1, .quarto-title-banner .h1, .quarto-title-banner h2, .quarto-title-banner .h2 {
  color: #2e2e36;
}
.quarto-title-banner a {
  text-decoration: none;
  color: var(--link-color);
}

.quarto-title-banner a:hover {
  color: var(--hover-color);
}


/*-- scss: column formatting for media --*/
@media (max-width: 768px) {
.page-columns {
  flex-direction: column; /* Stack columns vertically */
}

.column-screen-inset {
  flex: 1 1 100%; /* Full width for each column when stacked */
  margin: 10px 0; /* Adjust margin for vertical stacking */
}
}


/*-- scss: header --*/
a.navbar-brand:hover {
  color: var(--hover-color-banner);
}
.nav-item  a {
  color: #F0F0F0;
}
.nav-item  a:hover {
  color: var(--hover-color-banner);
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: var(--hover-color-banner);
}
.nav-link {
  color: #F0F0F0;
}


/*-- scss: footer --*/
.list-unstyled {
  padding-left: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.nav-footer {
  background: var(--light-header-background);
}
.nav-footer a {
  color: var(--link-color-footer);
}
.nav-footer a:hover {
  color: var(--hover-color-footer);
}
ol, ul {
  padding-left: 0rem;
}
.value-box {
  text-align: center;
}


/*-- scss: titles with metadata --*/
.header {
  width: 100%;
  padding: 20px;
  background-color: var(--light-header-background);
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.form-control {
  font-size: 0.9rem !important;
  padding: 0.2rem 0.5rem;
  margin-bottom: 10px;
  color: #5a6570 !important;
}
.main-container {
  display: flex;
  flex: 1;
}
.sidebar-wrapper {
  width: 290px;
  padding: 10px;
  margin-left: 20px;
  border-right: 1px solid #ddd;
  position: sticky;
  top: 20px;
  height: fit-content;
  flex-shrink: 0;
}
.sidebar {
  display: flex;
  flex-direction: column;
}
.main-content {
  flex-grow: 1;
  padding: 20px;
  margin-left: -10px;
}
.sort-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  gap: 20px 20px;
}
.tile {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 440px;
  border: 1px solid #444;
  border-radius: 0;
  text-align: left;
  text-decoration: none;
  color: inherit;
  background-color: white;
  overflow: hidden;
}
.tile img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  display: block;
}
.tile h2 {
  font-size: 18px;
  padding: 6px;
  color: #52505d;
  margin: 10px 0 0 0;
}
.tile p {
  font-size: 12px;
  padding: 6px;
  color: #52505d;
  margin: 0;
  flex-grow: 1;
  overflow: hidden;
  padding-bottom: 0.14em;
}
.card-header {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--light-header-background) !important;
  margin-top: auto;
}
#showMoreBtn {
  display: block;           /* Block display for full-width */
  background-color: #fff;
  border-radius: .25rem;
  border-color: #444;
  box-shadow: 0 .2rem .5rem #6c757d, 0 0 .05rem #6c757d;
  color: #6c757d;
  text-decoration: none;
  font-size: .9em;
  text-align: center;
  left: 50%;
  padding: .4rem .8rem;
  transform: translate(-50%, 0);
}
.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  margin-left: 15px;
}
.checkbox-container input[type="checkbox"],
.checkbox-container label {
  align-self: center;
}
.checkbox-container label {
  margin-left: 5px;
}
@media (max-width: 1024px) {
  .tile {
    width: calc(50% - 15px);
  }
}
@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }
  .tile {
    width: 100%;
  }
}



/*-- scss: titles static --*/

.container_static {
  float: left;
  width: 32%;  /* Adjust width as necessary */
  min-width: 300px;
  align-content: center;
  margin-right: 20px;
  margin-bottom: 20px;
}
.tile_static {
  height: 410px;  /* Fixed height, adaptable as necessary */
  border: 1px solid #444;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background-color: #ffffff;
  position: relative; 
}
.tile_static h2 {
  max-width: 300px;
  font-size: 18px;
  padding-left: 6px;
  padding-right: 6px;
  color: #52505d;
  border-bottom: none;
  margin-top: 10px;
  margin-bottom: 0px;
}
.tile_static p {
  font-size: 12px;
  padding: 6px;
  color: #52505d;
  margin: 0;
  overflow: hidden;
  flex-grow: 1; /* Allow the description to take up any remaining space */
}
.tile_static img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  display: block;
}
.card-header_static {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5 !important;
  margin-top: auto;
}
.tile_a {
  color: var(--link-color); /* Adjust the color as necessary */
}
.tile_a:hover {
  color: var(--hover-color); /* Adjust the hover color as necessary */
}
.icon-red {
  color: var(--link-color);
}



/*-- scss: header tiles --*/

/* Container holding the image and the text */
.container_title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  column-gap: 10px;
  row-gap: 30px;
}

.tile_title {
  position: relative;
  width: 38%; /* Adjust width as needed */
  min-width: 275px;
  margin-bottom: 20px;
  border: 1.5px solid #444;
  overflow: hidden;
  transition: transform 0.3s;
}
.tile_title img {
  display: block;
  filter: brightness(80%);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.tile_title h1 {
  position: absolute;
  top: 10px;
  margin-top: 0px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  color: white;
  text-shadow: 1.5px 1px 0px #444;
}
.tile_title h2 {
  position: absolute;
  bottom: 20px;
  left: 10px;
  margin: 0;
  color: white;
  font-size: 18px;
  text-shadow: 1.5px 1px 0px #444;
  pointer-events: none;
}
.tile_title:hover {
  transform: translateY(-5px);
}
.tile_icon {
  position: absolute;
  bottom: 20px;
  right: 15px;
  color: white;
  font-size: 24px;
  text-shadow: 1.5px 1px 0px black;
  text-decoration: none;
}

/* Responsive layout for different screen sizes */
@media (max-width: 1000px) {
  .tile_title {
    width: 45%; /* Adjust the width for medium screens */
  }
}

@media (max-width: 700px) {
  .container_title {
    flex-direction: column; /* Stack tiles vertically */
  }

  .tile_title {
    width: 100%; /* Full width for each tile when stacked */
  }
}

@media (max-width: 300px) {
  .tile_title h1 {
    font-size: 1.2em; /* Adjust font size for smaller screens */
  }

  .tile_title h2 {
    font-size: 1em; /* Adjust font size for smaller screens */
  }

  .tile_icon {
    font-size: 20px; /* Adjust icon size for smaller screens */
  }
}



/*-- scss: about-us people titles --*/

body.people {
  margin: 0;
  padding: 0;
}

.people .tile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
}

.people .tile {
  display: flex;
  flex-direction: row;
  background-color: none;
  border: none;
  border-radius: 8px;
  padding: 20px;
  width: calc(50% - 20px);
  margin: 10px 0;
  align-items: flex-start;
  min-width: 600px;
}

.people .img-container {
  flex: 0 0 200px;
  margin-right: 20px;
}

.people .img-container img {
  width: 100%;
  height: 250px;
  border-radius: 8px;
  object-fit: cover;
}

.people .tile-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 999; /* Expand tile content to fill available space */
  min-width: 0; /* Prevents the shrinkage */
}

.people .tile-content h2 {
  font-weight: bold;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: -5px;
  color: #333;
}

.people .tile-content .title-paragraph {
  font-size: 0.8em;
  color: #666;
  margin-bottom: 5px;
  word-wrap: break-word;
}

.people .tile-content .description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  overflow: hidden;
  font-size: 0.9rem;
  margin-bottom: 10px;
  word-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.people .contact-info {
  font-size: 0.9em;
  color: #666;
  margin-bottom: 10px;
}

.people .link-bar {
  margin-left: 0.5em; 
}

.people .link-bar-text a {
  color: var(--link-color);
  text-decoration: none;
  margin-right: 8px;
}

.people .link-bar-text a:hover {
  text-decoration: underline;
}

.people .profile-link {
  font-size: 1em;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: var(--hover-color);
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  align-self: flex-start;
}

.people .profile-link:hover {
  background-color: #0056b3;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  .people .tile {
    flex-direction: column;
    width: 100%;
  }

  .people .img-container {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
  }

  .people .img-container img {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .people .tile-content h2 {
    font-size: 1em;
    padding-top: 0px;
  }

  .people .tile-content .card-header {
    margin-top: -4px;
  }

  .people .tile-content .title-paragraph,
  .people .tile-content .description,
  .people .contact-info {
    font-size: 0.9em;
  }

  .people .profile-link {
    font-size: 0.9em;
    padding: 8px 12px;
  }
}


/*-- scss: about us page - "cool block" for the mission and vision statement --*/

.cool-block {
  background: linear-gradient(135deg, #00356B, #7634A6 70%);
  color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.cool-block h2 {
  margin-top: 0;
  font-size: 2em;
}
.cool-block p {
  font-size: 1em;
  line-height: 1.5em;
  text-align: left;
}
.cool-block ul {
  text-align: left; /* Aligns the bullet points to the left */
  margin: 0;
  padding-left: 20px; /* Adds padding to left for indentation */
}

/*-- scss: about us page - "more info" that links to other resources the groups does --*/

.more-info-box {
  position: relative;
  width: 100%; /* Adjust width as needed */
  height: 450px; /* Uniform height for all boxes */
  margin-top: 0px;
  overflow: hidden;
  transition: transform 0.3s;
  padding: 0;
}

.more-info-box .banner {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  flex-shrink: 0;
}

.more-info-box .banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

.more-info-box .banner h2 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin: 0;
  text-shadow: 1.5px 1px 0px #444;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  width: calc(100% - 20px); /* Ensure it does not overflow */
}

.more-info-box h3 {
  font-size: 18pt;
  color: #333;
  width: calc(100% - 20px); /* Ensure it does not overflow */
  text-decoration: none !important;
}

.more-info-box .content {
  padding: 20px;
  padding-top: 0px; /* Ensure it clears the banner height */
}

.more-info-box .content p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  margin-top: 20px;
  text-align: left;
  color: #333;
  text-decoration: none !important;
}

.more-info-box .content a {
  text-decoration: none !important;
  position: absolute;
  bottom: 10px;
}

.more-info-box .content a:hover {
  text-decoration: none !important;
}

.more-info-icon {
  position: absolute;
  bottom: 25px;
  right: 15px;
  color: #333;
  font-size: 24px;
  padding: 3px;
  text-decoration: none;
}

.more-info-box:hover {
  transform: translateY(-5px);
}

/* Ensure no text in .more-info-box gets underlined on hover */
.more-info-box:hover * {
  text-decoration: none !important;
}

@media (max-width: 768px) {
  .page-columns {
    flex-direction: column; /* Stack columns vertically */
  }

  .column-screen-inset {
    flex: 1 1 100%; /* Full width for each column when stacked */
    margin: 10px 0; /* Adjust margin for vertical stacking */
  }
}



/*-- scss: citation pagination --*/

.citations-box {
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 10px;
  background-color: #f9f9f9;
}
.citations-navigation {
  text-align: center;
  margin-top: 10px;
}
.citations-navigation button {
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}
#citations-content li {
  display: none; /* Hide all items by default, will be shown by JS */
  font-size: 0.9em;
  margin-bottom: 10px;
}

/*-- scss: titles with metadata  OLD BUT KEEP --*/

/*--
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  column-gap: 10px;
  row-gap: 30px;
}
.tile {
  width: 32%;
  min-width: 300px;
  height: 410px;  
  border: 1px solid #444;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  text-align: left;
  text-decoration: none;
  border-radius: 0px;  
}
.tile h1{
  max-width: 300px;
  font-size: 25px;
  padding-left: 6px;
  padding-right: 6px;
  color: #52505d;
  border-bottom: none;
  margin-top: 10px;
  margin-bottom: 0px;
}
.tile h2{
  max-width: 300px;
  font-size: 18px;
  padding-left: 6px;
  padding-right: 6px;
  color: #52505d;
  border-bottom: none;
  margin-top: 0px;
  margin-bottom: auto;
}
.tile p{
  font-size: 12px;
  padding-left: 6px;
  padding-right: 6px;
  color: #52505d;
}
.tile ul{
  font-size: 12px;
  padding-left: 6px;
  padding-right: 6px;
  color: #52505d;
  margin-top: -15px;
  margin-bottom: -15px;
}
.image {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 100%;
  height: 150px;
  object-fit: cover;
}
@media(max-width: 575px){
  .container{
    flex-wrap: wrap;
  }
}
--*/